<header class="header d-flex justify-content-between align-items-center p-3">
  <div>
    <img src="assets/images/logo.svg" alt="logo" class="logo" />
  </div>

  <div>
    <div class="dropdown">
      <button
        class="btn custom-dropdown-btn dropdown-toggle"
        type="button"
        id="unitsDropdown"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <span><img src="assets/images/icon-units.svg" alt="" /></span>
        Units
        <span><img src="assets/images/icon-dropdown.svg" alt="" /></span>
      </button>
      <ul class="dropdown-menu custom-dropdown-menu" aria-labelledby="unitsDropdown">
        <li class="dropdown-header">Temperature</li>
        <li><a class="dropdown-item" href="">Celsius (C)</a></li>
        <li><a class="dropdown-item" href="">Fahrenheit (F)</a></li>

        <li><hr class="dropdown-divider" /></li>

        <li class="dropdown-header">Wind Speed</li>
        <li><a class="dropdown-item" href="">km/h</a></li>
        <li><a class="dropdown-item" href="">mph</a></li>

        <li><hr class="dropdown-divider" /></li>

        <li class="dropdown-header">Precipitation</li>
        <li><a class="dropdown-item" href="">Millimeters (mm)</a></li>
        <li><a class="dropdown-item" href="">Inches (in)</a></li>
      </ul>
    </div>
  </div>
</header>

<div class="phrase">
  <h1>How 's the sky looking today</h1>
</div>
